.footer{
    position: relative;
    bottom:0px;
    width: 100%;
    text-align: center;
    background-color: rgb(95, 7, 88);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    height: 45px;
    padding-top: 10px

}

.main-container{
    margin-top: 15px;
}